h2 ~ p{	
	width: 400px;
	padding: 25px;
	border: 10px solid purple;
	margin: 25px auto;
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
	height: 170px;
}

main > h2{
	width: 500px;
	padding: 25px;
	border: 5px dashed purple;
	margin: 25px auto;
	text-align: center;
	text-decoration: underline;	
	height: 40px;
}
body > h1{
	width: 500px;
	padding: 25px;
	border: 10px solid purple;
	margin: 25px auto;
	text-align: center;
	color: navy;
	text-decoration: underline;
	font-family: "Comic Sans MS", cursive, sans-serif;
	height: 100px;
}
article > h2{
	width: 500px;
	padding: 25px;
	border: 10px solid purple;
	margin: 25px auto;
	height: 70px;
}
p + ul{
	width: 400px;
	padding: 25px;
	border: 10px dotted purple;
	margin: 25px auto;
	background-color: white;
	height: 1000px;
}
ol + h2{
	width: 700px;
	padding: 25px;
	border: 5px dotted purple;
	margin: 25px auto;
	background-color: white;
	height: 100px;
}
table + h2{
	width: 300px;
	padding: 25px;
	border: 10px dotted navy;
	margin: 25px auto;
	color: white;
	height: 100px;
}
main > table{
	width: 400px;
	padding: 80px;
	border: 10px dashed purple;
	margin: 25px auto;
	background-color: white;
	height: 100px;
}
ul > li{
	width: 300px;
	padding: 25px;
	border: 10px groove navy;
	margin: 10px auto;
}
body > main{
	background-image: url(http://images7.alphacoders.com/364/364746.jpg);
}
ol > li{
	width: 700px;
	padding: 25px;
	border: 10px dotted purple;
	margin: 25px auto;
	background-color: white;
}
